html {
    background-color:#020659;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    width:90%;
    margin:0 auto;
    min-width:375px;
    background-color: white;
}
#hide {
  display: none;
}
p {
  font-size: 1em;
}
#small a {
  color:white;
  text-decoration: none;
}
 h1 {
    color:white;
    font-size:1.25em;
}
h2 h3 {
    font-size: 1em;
}
.button {
  color:white;
  background-color: #590242 ;
  border-radius: 8px;
  padding:10px;
  width:250px;
  border:0;
  margin:10px;
  position: relative;
  left:10%;
  cursor: pointer;
}
.button:hover {
  background-color: #020659;
}
/* header */
.header {
  background-color: #030A8C;
  position: relative;
  width: 100%;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #030A8C;
}
 .header li a {
  text-decoration: none;
  color:white;
  padding: 10px;
  display: block;
  border-left: 1px solid #f4f4f4;
}
nav {
  display:none;
}
.header .menu-btn:checked ~ nav {
  display:block;
}
.header li a:hover,
.header .menu-btn:hover {
  background-color: #590242;
}
.header #small {
  display: block;
  text-align-last: center;
  padding: 20px 10px;
  margin:0%;
  text-decoration: none;
}
.header .menu {
  clear: both;
  max-height: 500px;
  transition: max-height .2s ease-out;
}
.header .menu-icon {
  cursor: pointer;
  float: left;
  top:-60px;
  padding: 28px 20px;
  position:relative;
  user-select: none;
}
.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition:  .2s ease-out;
  width: 18px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background:white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
#smooth {
      background-image: linear-gradient(to right, #2014D9 , black);
      color:white;
      padding: 10px;
      position: relative;
     }
     .hscroll {
      background-color: white;
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      overflow-x:auto;
      overflow-y: hidden;
     }
     .hscroll section {
      margin:10px;
      position:relative;
     }
     .hscroll div {
      position: absolute;
      top:251px;
      background-color: rgba(255,255,255,.75);
      padding:5px;
      height:50px;
      width:350px;
     }
     dl {
      display:flex;
     }
     dt {
      padding-right:5px;
      padding-bottom:10px;
     }
     audio {
      position:absolute;
      bottom:150px;
      left:5px;
     }
     .controls {
      opacity: 70%;
     }
     #trend ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 15px #590242;
     }
     #trend ::-webkit-scrollbar {
      width: 15px;
    }
    #trend ::-webkit-scrollbar-thumb {
      background: #590242;
      border-radius: 5px;
    }
    #trend ::-webkit-scrollbar-thumb:hover {
      background: #020659;
    }
    #trend {
      background-color: white;
    }
    #trend {
      margin:0px;
      padding:10px;
    }
    #trend h2 {
      color:#590242;
    }
     dl dt {
      color:#590242;
    }
      /*---------------*/
 /*playlists and curated narrow*/
  .playlists {
    background-color:#2699FB;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow:scroll;
    color:white;
  }
  #playlists > h3 {
    margin-left: 10px;
    color:#590242;
  }
  #Pp {
    background-color:#0D8DF8;
    border-radius: 8px;
    margin: 10px;
    padding:10px;
    }
  .playlists::-webkit-scrollbar {
    height:10px;
    width:100%;
  }
  .playlists::-webkit-scrollbar-track {
    background: #0D8DF8;
    box-shadow: inset 0 0 10px black;
  }
  .playlists::-webkit-scrollbar-thumb {
    background: #020659;
    border-radius: 2px;
  }
  .playlists::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .curated {
    background-color:#030A8C;
    grid:0/2;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow:scroll;
    color:white;
  }
  #CP {
    background-color:#020873;
    border-radius: 8px;
    margin: 10px;
    padding:10px;
    } 
  #curated > h3 {
    margin-left: 10px;
    color:#590242;
  } 
  .curated::-webkit-scrollbar {
    height:10px;
    width:100%;
  }
  .curated::-webkit-scrollbar-track {
    background: #0D8DF8;
    box-shadow: inset 0 0 10px black;
  }
  .curated::-webkit-scrollbar-thumb {
    background: #020659;
    border-radius: 2px;
  }
  .curated::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
 @media screen and (min-width:834px) {      
      .flex {
     display:grid;
     grid-template-columns: 1fr 1fr;
      }
.playlists {
  display:inline-block;
  max-height: 500px;
  overflow:scroll;
}
#Pp {
  background-color:#0D8DF8;
  border-radius: 8px;
  margin: 10px;
  padding:10px;
  display:grid;
  grid-template-columns: 1fr 2fr;
  }
.poo {
padding:5px;
}
.playlists::-webkit-scrollbar {
  height:100%;
  width:10px;
}
.playlists::-webkit-scrollbar-track {
  background: #0D8DF8;
  box-shadow: inset 0 0 10px black;
}
.playlists::-webkit-scrollbar-thumb {
  background: #020659;
  border-radius: 2px;
}
.playlists::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.curated {
  display:inline-block;
  max-height: 500px;
  overflow:scroll;
 }
 #CP {
  background-color:#020659;
  border-radius: 8px;
  margin: 10px;
  padding:10px;
  display:grid;
  grid-template-columns: 1fr 2fr;
  }
 .curated::-webkit-scrollbar {
  height:100%;
  width:10px;
}
.curated::-webkit-scrollbar-track {
  background: #0D8DF8;
  box-shadow: inset 0 0 10px black;
}
.curated::-webkit-scrollbar-thumb {
  background: #020659;
  border-radius: 2px;
}
.curated::-webkit-scrollbar-thumb:hover {
  background: #555;
}

 .menu-btn, .menu-icon {
  display:none;
}
.header #small {
  display: none;
}
nav {
  display:contents;
}
nav ul {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.header ul a {
  border-left:none;
}
.header {
  background-color: #030A8C;
  position: relative;
  width: 100%;
}
}
footer {
  padding:20px;
  text-align: center;
  color:#590242;
  background-color: white;
}
footer p {
  font-size: .75em;
}
/*---------------*/
